html, body {
  width: 100%;
  height: 100%;
  font-family: Cairo;
  overflow: hidden;
}

:root {
  --JE-padding: 5px;
  --JE-rounding1: 20px;
  --JE-rounding2: calc(var(--JE-rounding1) - var(--JE-padding));
}

#divBackground {
  position: absolute;
  padding: var(--JE-padding);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#divMain {
  position: absolute;
  padding: var(--JE-padding);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--JE-padding);
}

#divOptions {
  position: relative;
  overflow: hidden;
  top: 0px;
  left: 0px;
  min-width: 200px;
  height: 100%;
  order: 0;
}

#divOptionsBG {
  position: absolute;
  background: white;
  border: 1px solid black;
  border-radius: var(--JE-rounding1);
  opacity: 0.75;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#divConfigs {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin: var(--JE-padding);
  gap: var(--JE-padding);
}

#divWork {
  position: relative;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  order: 1;
}

#divWorkBG {
  background: white;
  border: 1px solid black;
  border-radius: var(--JE-rounding1);
  opacity: 0.75;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}


#divConfigs > button {
  border-radius: var(--JE-rounding2);
  text-align: left;
}

.Icon {
  color:white;
  filter: drop-shadow(0px 0px 3px black);
}
.Label {
  color:white;
  filter: drop-shadow(0px 0px 3px black);
}
